.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateX(150%);

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}
