@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.skeleton {
  transition: opacity 0.2s ease;
  .skeleton-box {
    background: linear-gradient(90deg, #1f1f1f 25%, #2a2a2a 37%, #1f1f1f 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
  }
}
