@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-header-bg {
  background-color: #030014;
  animation: reveal 2s forwards;
}
.home-hero {
  .pattern {
    height: 75vh;
    @media (min-width: 768px) {
      height: 85vh;
    }
  }
  .hero-bg-img {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
  }
  .hero-bg-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #030014, rgb(3 0 20 / 5%), #ffffff00);
    bottom: -2px;
  }
  .hero-bg-top-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #0300145c, rgb(3 0 20 / 0%));
  }
  .popular-section,
  .top-rated-section,
  .trending-section,
  .genres-section {
    width: 100%;

    .popular-movie-swiper,
    .top-rated-section,
    .trending-movie-swiper,
    .movie-swiper {
      cursor: grab;
      width: 100%;

      .swiper-slide {
        display: flex;
        align-items: center;

        @media (max-width: 767.98px) {
          height: 300px;
          width: 200px !important;
        }

        .popular-movie-card,
        .top-rated-movie-card,
        .trending-movie-card,
        .movie-card {
          height: 400px;

          @media (max-width: 767.98px) {
            height: 300px;
            width: 200px;
          }
        }
      }
    }
  }
}
